fastapi>=0.115.1
requests
types-requests
PyYAML>=6.0

# Compatibilidad con Kubernetes
urllib3<2.0

# Linter, formatter y orden de imports
black==24.4.2
isort==5.12.0
flake8==6.1.0
autoflake==2.2.1

# Tipado estático
mypy==1.10.0

# Pre-commit hooks
pre-commit==3.7.0

# Para desarrollo/testing
pytest
httpx

# ORM
sqlalchemy

uvicorn

python-dotenv

# PostgreSQL driver
psycopg2-binary

# Seguridad de contraseñas
passlib[bcrypt]

Pydantic
pydantic[email]

