fastapi>=0.115.1
requests
types-requests

# compatibilidad con Kubernetes
urllib3<2.0

# Linter, formatter y orden de imports
black==24.4.2
isort==5.12.0
flake8==6.1.0

# Tipado estático
mypy==1.10.0

# Pre-commit hooks
pre-commit==3.7.0

# Para desarrollo/testing (opcional, podés borrarlos si no usás)
pytest
httpx
